ion-content {
    & ion-searchbar{
        --box-shadow: none;
        border: 1px;
        border-style: solid;
        border-color: var(--ion-color-medium);
        border-radius: 10px;
        margin: 10px;
        padding: 2px;
        width: 95%;
    }
}