<ui-hm-header [model]='header' (callback)="onHeaderEvents($event)"></ui-hm-header>
<ion-content [fullscreen]="true">
  <!-- <app-image-slide [images]="slideImages"></app-image-slide>
  <ion-card mode="md" (click)="expandItem(item)"  *ngFor="let item of items">
    <ion-card-header mode="md" color="medium">
      <ion-card-title mode="md">{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content mode="md">
      <app-accordion expandHeight="100px" [expanded]="item.expanded">
          What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?
      </app-accordion>
    </ion-card-content>
  </ion-card> -->
  test
</ion-content>